.carousel_img {
    width: 100%;
    height: 90vh;
}

@media ( max-width:767px){
        .carousel_img{
        height: 35vh;
    }
}

/* Zoom Animation */
@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
    
.zoom_animation {
    animation: zoom 10s infinite ease-in-out;
}